<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ilk.Properties.Settings.dbo_sinemaConnectionString"
            connectionString="Data Source=LAPTOP-03V955D0\MSSQL;Initial Catalog=dbo_sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>